//defaults
$color-white: #fff;
$color-blue: #1d80bc;
$color-content: #f6f6f6;
$color-text: #333;
$faded-bg: rgba(0, 0, 0, 0.4);
$interval: .4s;
$classesToAdd: 10;
@mixin textshadow($direction,$zindex,$blur){
    text-shadow: $direction $zindex $blur #000, 1px 1px 1px #ccc
}
@mixin animationDelay ($delay) { 
    -webkit-animation-delay: $delay;  
    -moz-animation-delay:    $delay;
    -ms-animation-delay:     $delay; 
    -o-animation-delay:      $delay;  
    animation-delay:      $delay; 
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
html,body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;    
}
body {
    background-color: $color-white;
}
.cursive {
    font-family: 'Pacifico', cursive;
}
nav {
    background-color: $color-content;
}
.brand-logo {
    @extend .cursive;
    color: $color-blue !important;
}
.faded {
    @extend nav;
}
.valign {
    width: 70%
}
p {
    color: $color-text;
}
.texter {
    @extend p;
}
.input-field label {
    color: $color-blue;
}
.input-field input[type=text]:focus + label {
    color: $color-blue;
}
.input-field input[type=text]:focus {
    border-bottom: 1px solid $color-blue;
    box-shadow: 0 1px 0 0 $color-blue;
}
.input-field input[type=text].valid {
    border-bottom: 1px solid $color-blue;
    box-shadow: 0 1px 0 0 $color-blue;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid $color-blue;
    box-shadow: 0 1px 0 0 $color-blue;
}
.input-field .prefix.active {
    color: $color-blue;
}
.btn {
    text-transform: none !important;
}
.shadow-custom {
    @include textshadow(-3px,4px,8px);
}
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 1000;
}
.loader .fail {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    text-align: center;
}
.brand-logo-center {
    position: static !important;
}
//helpers
.no-margin-top-btm {
    margin-bottom: 0;
    margin-top: 0;
}
.margin-top-40 {
    margin-top: 40px;
}
.no-margin-top {
    margin-top: 0;
}
//stagger flipout animation
@for $i from 1 to $classesToAdd + 1 {
    ._#{$i} { @include animationDelay($i * $interval); }
}